/*
=======================
Body:
The default styles color for the whole page is defined here in the body selector.
=======================
*/
body {
    margin: 0; 
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica,Arial, sans-serif;
}